html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.top-border {
	background-color: yellow;
	height: 10px;
}

.window {
	background-image: url('../images/nyc.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	height: 500px;
}

.content {
	background-color: grey;
	height: 700px;
}

.container {
	margin: 0 20%;
}

.circles ul {
	text-align: center;
}

.circles li {
	display: inline;
	padding: 30px;
	border: 2px solid red;
	border-radius: 100%;
}

.bio {
	margin: 5% 0 10%;
	text-align: center;
}

.bio h1 {
	font-size: 3em;
}

.bio p {
	font-size: 1.5em;
	margin-top: .25em;
}

hr {
	background-color: black;
	height: 1px;
	border: 0;
	margin: 0;
	padding: 0;
}

.divider h2 {
	position: relative;
	transform: translateY(-50%);
	text-align: center;
	font-size: 1.5em;
}

.divider h2 span {
	border: 1px solid black;
	padding: .5em 1.5em;
	background-color: grey;
}













