html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	color: #777;
}

h1, h3 {
	font-family: 'Libre Baskerville', serif;
	font-weight: 700;
	color: #333;
}

a {
	text-decoration: none;
	color: #333;
}

a:hover {
	text-decoration: underline;
}

.top-border {
	background-color: white;
	height: 30px;
	box-shadow: 0px 5px 40px 0px rgba(0,0,0,0.5);
	position: relative;
}

.top-border h1 {
	font-size: 1em;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	margin-left: 10%;
}

.top-border span {
	margin-left: 1em;
}

.window {
	height: 50vh;
	position: relative;
	z-index: -1;
}

.window-image, .window-blur-image {
	position: absolute;
	height: 100%;
	width: 100%;
	background-size: cover;
	background-attachment: fixed;
	background-position: left -150px;
}

.window-image {
	background-image: url('../images/nyc.jpg');
	opacity: 1;
}

.window-blur-image {
	background-image: url('../images/nyc-blur.jpg');
	opacity: 0;
}

.content {
	box-shadow: 0px -5px 40px 0px rgba(0,0,0,0.5);
}

.container {
	margin: 0 30%;
}

.circles ul {
	text-align: center;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.circles li {
	display: inline;
}

.circles a {
	background-color: white;
	border: 3px solid #fff;
	border-radius: 100%;
	box-shadow: 0 1px 1px rgba(0,0,0,.3);
	margin: 0 .5em;
	display: inline-block;
	width: 5em;
	height: 5em;
}

.circles i {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.email-box {
	display: none;
	height: 2em;
	width: 0em;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%) translateX(-3.375em);
	-ms-transform: translateY(-50%) translateX(-3.375em);
	transform: translateY(-50%) translateX(-3.375em);
	border: 3px solid #db4437;
	background-color: #fff;
	text-align: center;
	z-index: 1000;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.email-box-animation {
	width: 15em;
	-webkit-transform: translateY(-50%) translateX(-10.9em);
	-ms-transform: translateY(-50%) translateX(-10.9em);
	transform: translateY(-50%) translateX(-10.9em);
}

.email-box p {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	overflow: hidden;
}

.circles .email-li-mobile {
	display: none;
}

.product-hunt {
	font-family: sans-serif;
	font-weight: 900;
	font-size: 1em;
	display: inline-block;
	color: #da552f;
}

.profile {
	float: right;
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
	margin-right: 15%;
}

.profile ul {
}

.profile li {
	display: inline;
}

.profile a {
	background-color: white;
	background-image: url('../images/profile-photo.jpeg');
	background-size: cover;
	background-position: top center;
	border: 3px solid #fff;
	border-radius: 100%;
	box-shadow: 0 1px 1px rgba(0,0,0,.3);
	margin: 0 .5em;
	display: inline-block;
	width: 10em;
	height: 10em;

}

.bio {
	margin: 1% 0 5%;
	text-align: center;
}

.bio h1 {
	font-size: 3em;
}

.bio p {
	font-size: 1.5em;
	margin-top: .25em;
}

hr {
	background-color: rgba(0,0,0,.15);
	height: 1px;
	border: 0;
	margin: 0;
	padding: 0;
}

.divider h2 {
	position: relative;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align: center;
	font-size: 1em;
}

.divider h2 span {
	border: 1px solid rgba(0,0,0,.44);
	padding: .5em 1.5em;
	background-color: white;
	color: rgba(0,0,0,.6);
}

.project-section .container {
	padding: 3em 0;
}

.project {
	padding: 2em 0;
	border-bottom: 1px solid rgba(0,0,0,.05);
}

.project:last-child {
	border-bottom: none;
}

.project h3 {
	font-size: 1.5em;
	margin-bottom: .5em;
}

.project img {
	float: right;
}

.project h3, .project p {
	max-width: 60%;
}

.date {
	color: #aaa;
	margin-top: 1em;
}

.fa-twitter {
	color: #55acee;
}

.fa-linkedin {
	color: #0976b4;
}

.fa-envelope-o {
	color: #db4437;
}

.fa-medium {
	color: #333332;
}

.mobile-only {
	display: none;
}


/*MEDIA QUERIES*/
/*MEDIA QUERIES*/
/*MEDIA QUERIES*/

@media screen and (max-width: 1420px) {
	.profile {
		margin-right: 5%;
	}
}

@media screen and (max-width: 1110px) {
	.profile {
		margin-right: 1%;
	}
}

@media screen and (max-width: 1025px) {
	.profile {
		display: none;
	}

	.profile-phone {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translateY(-50%) translateX(-50%);
		-ms-transform: translateY(-50%) translateX(-50%);
		transform: translateY(-50%) translateX(-50%);
	}

	.profile-phone ul {
		text-align: center;
	}

	.profile-phone a {
		background-color: white;
		background-image: url('../images/profile-photo.jpeg');
		background-size: cover;
		background-position: top center;
		border: 3px solid #fff;
		border-radius: 100%;
		box-shadow: 0 1px 1px rgba(0,0,0,.3);
		display: inline-block;
		width: 10em;
		height: 10em;
	}

	.circles .email-li {
		display: none;
	}

	.circles .email-li-mobile {
		display: inline;
	}

	.container {
		margin: 0 20%;
	}

	.window-image, .window-blur-image {
		background-position: center center;
	}

	.window-image {
		background-attachment: scroll;
	}

	.window-blur-image {
		display: none;
	}
}

@media screen and (max-width: 700px) {
	.container {
		margin: 0 10%;
	}

	.top-border h1 {
		margin-left: 5%;
		font-size: .75em;
	}

	.circles a {
		width: 12vw;
		height: 12vw;
	}

	.profile-phone a {
		width: 7em;
		height: 7em;
	}

	.bio {
		margin: 1% 0 10%;
	}

	.bio h1 {
		font-size: 2em;
	}

	.bio p {
		font-size: 1.25em;
	}

	.desktop-only {
		display: none;
	}

	.mobile-only {
		display: inline-block;
	}

	.project-section .container {
		padding: .5em 0;
	}

	.project {
		text-align: center;
	}

	.project img {
		float: none;
		margin-bottom: .5em;
	}

	.project h3, .project p {
		max-width: 100%;
	}

	.date {
		margin-top: .5em;
	}
}







